<html>
  <head>
    <meta charset="utf-8">
    <style><%= asset 'mocha.css' %></style>
  </head>
  <body>
    <div id="mocha"></div>
    <script><%= asset 'mocha.js' %></script>
    <script><%= asset 'chai.js' %></script>
    <script>
      mocha.ui('bdd');
      mocha.reporter('html');
      expect = chai.expect;
    </script>
    <script><%= compile 'src/hazelnut.litcoffee' %></script>
    <% Dir['test/*.coffee'].each do |file| %>
      <script><%= compile file %></script>
    <% end %>
    <script>
      if (window.mochaPhantomJS) { mochaPhantomJS.run(); }
      else { mocha.run(); }
    </script>
  </body>
</html>
